@charset "utf-8";
/* CSS Document */

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	text-align: center;
}
img {
	width: 100%;
	height: 100%;
}

section {
	min-height: 100%;
	min-width: 100%;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

h1, h2, h3, a {
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	color: #000;
	text-transform: uppercase;
}

img {
	max-width: 100%;
	max-height: 100%;
}

h2 {
	color: #5d7177;
}

h3 {
	font-size: 40px;
	padding-top: 8%;
	margin-bottom: 5px;
}

h4, p {
	font-family: 'Lato', serif;
	color: #494949;
}

hr {
	width: 80px;
	height: 2px;
	background: #494949;
	border: 0;
	margin: 0 auto 40px auto;
}

/*LOGO STYLING STARTER HER*/
#logo {
	transition: all 300ms;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
}

#logo {
	width: 5%;
	margin: 30px 100px 0 0px;
	float: left;
	padding-left: 600px;
}

#logo:hover{
	opacity: 0.5;
}
#logo img {
	float: left;
	margin-top: 65px;
	margin-left: -300px;
}
/*LOGO STYLING SLUTTER HER*/

/*HEADER STYLING STARTER HER*/
header {
	position: absolute;
	margin-top: 0px;
}

nav ul {
	margin-top: 120px;
	padding: 0;
	float: left;
}

nav li {
	display: inline;
	margin: 20px;
	margin-top: 50px;
}

nav a {
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	padding: 1px;
	font-family: "Raleway";
	width: 100%;
}
/*HEADER STYLING STARTER HER*/

/*NAV HOVER EFFECT STARTER HER*/
.hjem:after {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 4%;
  border-bottom: 1px solid;
  margin-top: 10px;
	margin-left: 790px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

.hjem:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.omnv:after {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 5%;
  border-bottom: 1px solid;
  margin-top: 10px;
	margin-left: 895px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}
.omnv:hover:after {
	 opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.prj:after {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 8%;
  border-bottom: 1px solid;
  margin-top: 10px;
	margin-left: 1010px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}
.prj:hover:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.kontakt:after {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 6%;
  border-bottom: 1px solid;
  margin-top: 10px;
	margin-left: 1170px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

.kontakt:hover:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}



/*NAV HOVER EFFECT STARTER HER*/

/*HJEM STYLING STARTER HER*/
#hjem {
	/*BILLEDE TIL GRATIS KOMMERCIALT BRUGT, INGEN NAVNGIVELSE PÅKRÆVET - https://pixabay.com/da/ocean-hav-vand-horisont-solskin-2609809/*/
	background-image: url("../billeder/landingbillede 23.07.22.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	width: auto;
	height: 110%;
}

.hej {
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	margin-top: -30px;
	padding-top: 350px;
	
}

.multi {
	position: absolute;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	margin-top: -100px;
	right: 0;
	left: 0;
}

.udforsk {
	display: inline-block;
	font-size: 14px;
	line-height: 120%;
	color: #FFF;
	background-color: transparent;
	border: 1px solid #fff;
	padding: 10px 12px;
	border-radius: 20px;
	text-decoration: none;
	cursor: pointer;
	transition: background-color ease 400ms;
	position: absolute;
	margin-top: 100px;
	margin-left: -100px;
}

.udforsk:hover{
	color: #fff;
	background-color: rgba(255, 255, 255, 0.3);
}

.p {
	transition: all 300ms;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
}


.logo1 {
	transition: all 300ms;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
}

.logo1 {
	width: 5%;
	float: left;
	height: auto;
	margin-left: 20px;
	padding-top: 20px;
}

.logo1:hover{
	opacity: 0.5;
}
/*HJEM STYLING SLUTTER HER*/

/*OM MIG STYLING STARTER HER*/
#ommig {
	min-width: 100%;
	min-height: 100%;
}
.ommig_01 {
	padding-top: 10px;
	right: 0;
	left: 0;
	font-family: "Raleway", sans-serif;
	font-weight: bolder;
	position: absolute;
}

.hvemervictort {
	font-family: "Raleway", sans-serif;
	font-size: 150%;
	margin-left: 420px;
	padding-top: 150px;
	position: absolute;
}
.hvemervictor {
	padding-left: 25%;
	float: left;
	width: 20%;
	position: absolute;
	padding-top: 200px;
	text-align: justify;
	display: block;
	direction: ltr;
}
.cv {
	text-align: justify;
	display: block;
	direction: ltr;
	width: 20%;
	padding-left: 47%;
	float: left;
	position: absolute;
	padding-top: 200px;
	
}
.cvt {
	padding-left: 54%;
	font-size: 150%;
	font-family: "Raleway", sans-serif;
	position: absolute;
	padding-top: 150px;
}
.hvemervictorimg {
	width: 20%;
	height: 60%;
	border-radius: 10px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	position: relative;
	margin-left: 22%;
	position: absolute;
	margin-top: 180px;
}

.logo2 {
	transition: all 300ms;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
}

.logo2 {
	width: 5%;
	height: auto;
	float: left;
	margin-left: 20px;
	padding-top: 20px;
}

.logo2:hover{
	opacity: 0.5;
}

#faktaboks {
	background-color: white;
	width: 270px;
	border: 1px solid black;
	margin: 10px;
	height: 370px;
	margin-left: 3%;
	margin-top: 220px;
	position: absolute;
	font-size: 15px;
	font-family: "lato", sans-serif;
}
.faktabokst {
	position: absolute;
	font-size: 150%;
	font-family: "Raleway", sans-serif;
	padding-top: 150px;
	padding-left: 7%;
}

.faktaul {
	list-style-type: circle;
	position: absolute;
	padding-right: 30px;
}
/*OM MIG STYLING SLUTTER HER*/

/*PROJEKTER STYLING STARTER HER*/
#projekter {
	background-color: #f0f0f0;
}

#projekter_2 {
	width: 900px;
	margin: 0 auto 0 auto;
}

#projekter_2 ul {
	padding: 0;
}

#projekter_2 ul li {
	width: 33%;
	float: left;
	margin-bottom: 15px;
}

#projekter_2 img {
	width: 280px;
	height: 170px;
	border-radius: 5px;
}

#projekter_2 img:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.projekt4 {
	pointer-events: none;
	cursor: default;
}

.projekt5 {
	pointer-events: none;
	cursor: default;
}

.projekt6 {
	pointer-events: none;
	cursor: default;
}
/*PROJEKTER STYLING SLUTTER HER*/

/*KONTAKT STYLING STARTER HER*/
#kontakt {
		min-height: 60%;
	}

.logo3 {
	transition: all 300ms;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
}

.logo3 {
	width: 5%;
	float: left;
	margin-left: 20px;
	padding-top: 0px;
	height: auto;
}

.logo3:hover{
	opacity: 0.5;
}

form input, textarea {
	font-family: "Raleway", sans-serif;
	font-size: 15px;
	margin-bottom: 10px;
	border-radius: 2px;
	border: 2px solid;
	border-collapse: #494949;
}

form input:first-child {
	margin-top: 10px;
}

form input {
	width: 552px;
	height: 30px;
	font-weight: bolder;
}

form textarea {
	width: 550px;
	height: 200px;
	resize: none;
	font-weight: bolder;
}
.input-text {
	color: #494949;
	padding-left: 10px;
}

.button {
	background-clip: #f0f0f0;
	color: #494949;
	width: 556px;
	height: 50px;
}

.button:hover {
	background-color: #494949;
	color: #f0f0f0;
}
/*KONTAKT STYLING SLUTTER HER*/

/*FOOTER STYLING START HER*/
footer {
	width: 100%;
	height: 70px;
	background-color: #6F6F6F;
}

footer img {
	width: 35px;
	height: 35px;
}

.fb {
	position: absolute;
	margin-left: -140px;
	margin-top: 20px;
}
.twitter {
	position: absolute;
	margin-left: -90px;
	margin-top: 20px;
}
.home {
	position: absolute;
	margin-left: -40px;
	margin-top: 20px;
}
.mail {
	position: absolute;
	margin-left: 10px;
	margin-top: 20px;
}
/*FOOTER STYLING SLUTTER HER*/

@media (min-width: 1824px) and (max-width:2560px) {
	.hej {
		font-size: 250%;
	}
	.multi {
		font-size: 250%;
	}
	.udforsk {
		margin-top: 15%;
	}
	header nav {
		float: right;
		margin: 20px 150px
	}
	.hjem:after {
		margin-left: 1245px;
		width: 3%
	}
	.omnv:after {
		margin-left: 1350px;
		width: 3.5%;
}
	.prj:after {
		margin-left: 1465px;
		width: 6%;
	}
	.kontakt:after {
		margin-left: 1625px;
		width: 4.5%;
	}
	.hvemervictorimg {
		width: 20%;
		height: 60%;
		margin-left: 22%
	}
	.faktabokst {
		padding-left: 9.5%;
	}
	.hvemervictort {
		padding-left: 8.5%;
	}
	#faktaboks {
		width: 20%;
	}
	.cvt {
		padding-left: 51.5%
	}
}
/*MEDIA QUERIES FOR IPAD VERSION*/
@media (min-width: 768px) and (max-width: 1024px) {
	/*NAV STYLE START*/
	header nav {
	float: right;
	margin: -100px 210px 0 0;
}
	header nav ul li a {
		font-weight: bold;
		font-size: 20px;
	}
	.hjem:after {
	display: none;
}

	.hjem:hover:after {
	display: none;
}
	
	.omnv:after {
	display: none;
}

	.omnv:hover:after {
	display: none;
}
	
	.prj:after {
	display: none;
}

	.prj:hover:after {
	display: none;
}
	.kontakt:after {
	display: none;
}

	.kontakt:hover:after {
	display: none;
}
	/*NAV STYLE SLUT*/
	
	/*LOGO STYLE START*/
	#logo {
	width: 10%;
	margin: 10px 0px 0 175px;
	float: left;
	padding-left: 600px;
}
	/*LOGO STYLE SLUT*/
	
	/*OM MIG START*/
	.hej {
	font-size: 30px;
	right: 0;
	left: 0;
}
	.multi {
	font-size: 30px;
	right: 0;
	left: 0;
	margin-top: -50px;
}
	#ommig {
		width: 100%;
		min-height: 100%
	}
	.hvemervictorimg {
	width: 25%; 
	height: 55%;
	border-radius: 10px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	position: relative;
	margin-left: 20%;
	margin-top: 20%;
	position: absolute;
}
	.hvemervictor {
		margin-top: 2%;
		position: absolute;
		margin-left: -16%;
		width: 30%;
		
	}
	.ommig_01 {
		margin-top: 5%;
		position: absolute;
		margin-left: 15%;
		right: 0;
		left: 0;
	}
	
	.hvemervictort {
		padding-left: 5px; 
		position: absolute;
		margin-left: 15%;
	}
	
	.cvt {
		margin-left: -7%;
	}
	
	.cv {
		margin-left: -5%;
		margin-top: 2%
	}
	#faktaboks {
		display: none;
	}
	.faktabokst {
		display: none;
	}
	/*OM MIG SLUT*/
	
	/*PROJEKTER START*/
	#projekter_2 {
	width: 650px;
	margin: 0 auto 0 auto;
}
	
	#projekter_2 ul li {
	width: 50%;
	float: left;
	margin-bottom: 15px;
}
	/*PROJEKTER SLUT*/
	
	/*KONTAKT START*/
	#kontakt {
		min-height: 60%;
	}
	.logo1 {
	width: 5%;
	float: left;
	margin-left: 15px;
	padding-top: 20px;
	}
	
	.logo2 {
	width: 5%;
	float: left;
	margin-left: 15px;
	padding-top: 15px;
	}
	
	.logo3 {
	width: 5%;
	float: left;
	margin-left: 15px;
	padding-top: 5px;
	}
	/*KONTAKT SLUT*/
}
	

@media (min-width: 320px) and (max-width: 480px) {
	/*NAV START*/
	header nav {
	float: right;
	margin: 130px 0 0 20px;
	position: absolute;
}
	header nav ul li a {
		font-weight: bold;
		font-size: 10px;
		font-weight: bold;
	}
	
		.hjem:after {
	display: none;
}

	.hjem:hover:after {
	display: none;
}
	
	.omnv:after {
	display: none;
}

	.omnv:hover:after {
	display: none;
}
	
	.prj:after {
	display: none;
}

	.prj:hover:after {
	display: none;
}
	.kontakt:after {
	display: none;
}

	.kontakt:hover:after {
	display: none;
}
	/*NAV SLUT*/
	
	/*LOGO START*/
	#logo {
	width: 10%;
	padding-left: 552px;
	margin-left: -15%;
}
	.logo1 {
		position: absolute;
		margin-left: -930px;
		margin-top: -40px;
	}
	.logo2 {
		position: absolute;
		margin-left: -930px;
		margin-top: 0px;
	}
	.logo3 {
		position: absolute;
		margin-left: -930px;
		margin-top: -40px;
	}
	/*LOGO SLUT*/
	
	/*HJEM START*/
	.hej {
		font-size: 18px;
		right: 0;
		left: 0;
	}
	.multi {
		font-size: 18px;
		right: 0;
		left: 0;
		margin-top: -20px;
	}
	
	/*HJEM SLUT*/
	
	/*OM MIG START*/
	.ommig_01 {
		font-size: 25px;
		padding-top: 20px;
		margin-left: 2%;
	}
	
	#ommig {
		height: 120%;
	}
	
	.hvemervictorimg {
	width: 60%;
	height: 45%;
	border-radius: 10px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	position: relative;
	margin: 130% 0 0 -30%;
	position: absolute;

}
	.hvemervictor {
		width: 80%;
		margin-left: -50px;
		padding-top: 80px;
	}
	.cv {
		display: none;
	}
	.cvt {
		display: none;
	}
	.hvemervictort {
		display: none;
	}
	#faktaboks {
		display: none;
	}
	.faktabokst {
		display: none;
	}
	/*OM MIG SLUT*/
	
	/*PROJEKTER START*/
	#projekter {
		height: 1300px;
	}
	
	#projekter h3 {
		font-size: 140%;
	}
	
	#projekter_2 {
	width: 650px;
	margin: 0 auto 0 auto;
}
	#projekter_2 ul li {
	width: 100%;
	float: left;
	margin-bottom: 15px;
	margin-left: -130px;
}
	/*PROJEKTER SLUT*/
	
	
	/*KONTAKT START*/
	#kontakt {
		min-height: 60%;
	}
	form input {
	width: 330px;
	height: 30px;
	font-weight: bolder;
	}
	form textarea {
	width: 330px;
	height: 200px;
	resize: none;
	font-weight: bolder;
}
	.button {
	background-clip: #f0f0f0;
	color: #494949;
	width: 350px;
	height: 50px;
}
	.logo1 {
	width: 10%;
	float: left;
	padding-top: 55px;
	margin-left: 10px;
	}
	
	.logo2 {
	width: 10%;
	float: left;
	padding-top: 15px;
	margin-left: 10px;
	}
	
	.logo3 {
	width: 10%;
	float: left;
	padding-top: 5px;
	margin-left: 10px;
	}
}
	/*KONTAKT SLUT*/